#page-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wraper {
    position: relative;

    width: 100%;
    max-width: 1100px;

    height: 100%;
    max-height: 600px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    background: url('../../images/landing.svg') no-repeat 80% center;
    background-size: contain;
}

#page-landing .content-wraper main {
    max-width: 350px;
}

#page-landing .content-wraper main h1 {
    font-size: 76px;
    font-weight: 900px;
    line-height: 70px;
}

#page-landing .content-wraper main p {
    font-size: 24px;
    margin-top: 40px;
    line-height: 34px;
}

.content-wraper .location strong {
    font-weight: 800;
}


.content-wraper .location {
    position: absolute;
    right: 0;
    top: 0;

    font-size: 24px;
    line-height: 34px;

    display: flex;
    flex-direction: column;

    text-align: right;

}

.content-wraper .enter-app {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 80px;
    height: 80px;
    background: #FFD666;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s;
}

.content-wraper .enter-app:hover {
    background: #96FEFF;
}

@media screen and (max-width: 1707px) {
    #page-landing .content-wraper {
    
        width: 100%;
        max-width: 900px;
    
        height: 100%;
        max-height: 470px;
    }

    #page-landing .content-wraper main {
        max-width: 300px;
    }
    
    #page-landing .content-wraper main h1 {
        font-size: 56px;
        font-weight: 900px;
        line-height: 50px;
    }
    
    #page-landing .content-wraper main p {
        font-size: 18px;
        margin-top: 40px;
        line-height: 24px;
    }
    
    .content-wraper .location strong {
        font-weight: 800;
    }
    
    
    .content-wraper .location {
        position: absolute;
        right: 0;
        top: 0;
    
        font-size: 18px;
        line-height: 24px;
    
        display: flex;
        flex-direction: column;
    
        text-align: right;
    
    }
    
    .content-wraper .enter-app {
        width: 60px;
        height: 60px;
        background: #FFD666;
        border-radius: 18px;
    }
}